.wrapper {
    width: 540px;
    height: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #f5f5f5;
}

.slider {
    width: 540px;
    height: 1920px;
    position: relative;
}

.slide {
    width: 540px;
    height: 1920px;
}

.slide-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.flickity-button {
    display: none;
}

#red {
    display: none;
}