body {
	width: 540px;
    height: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.wrapper {
    width: 540px;
    height: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.slider {
    width: 540px;
    height: 1920px;
    position: relative;
}

.slide {
    width: 540px;
    height: 1920px;
}

.slide-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.flickity-button {
    display: none;
}

#red {
    display: none;
}